set_io clk100       15

set_io led1         40
set_io led2         51

set_io uart_rx      1
set_io uart_tx      2

set_io ps2_clk      37
set_io ps2_data     36

set_io vga_red[0]   18
set_io vga_red[1]   19
set_io vga_red[2]   24
set_io vga_green[0] 25
set_io vga_green[1] 26
set_io vga_green[2] 27
set_io vga_blue[0]  28
set_io vga_blue[1]  29
set_io vga_blue[2]  30
set_io vga_hsync    33
set_io vga_vsync    34

set_io spi_sdo      45
set_io spi_sdi      46
set_io spi_sck      48
set_io spi_ss       49